
body {
    background-color: #c77fa0;
}


footer {
    background-color: #8a87b3;
    color: white;
    text-align: center;
    padding: 10px;
}


h1, h2, h3 {
    text-align: center;
    color: #4a4a4a;
    font-family: 'Arial', sans-serif;
}


p {
    text-align: justify;
    color: #2c2c2c;
    font-family: 'Georgia', serif;
    line-height: 1.6;
}


